
@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-black-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-bold-webfont.woff') format('woff');
  font-weight: bold;/*700*/
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-extrabold-webfont.woff') format('woff');
  font-weight: 800;/*extrabold*/
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-light-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-medium-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}




@font-face {
  font-family: 'alegreya_sans';
  src: url('../../fonts/alegreyasans-thin-webfont.woff2') format('woff2'),
       url('../../fonts/alegreyasans-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;

}