.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  width: 100%;


  @include phones {
    flex-direction: column;
    justify-content: start;
  }
}


.footer__col {
display: flex;
flex-direction: column;
margin: rem(30px);
@include phones {
  text-align: center;
}
}

.social__item {
  margin-right: rem(15px);

  &:hover {
    .social__icon {
      fill: #000000;;
    
    }
  }
}

.social__icon {
  width: rem(20px);
  height: rem(20px);
}

.footer__adress {
  color: #000000;
  font-size: rem(21px);
  line-height: rem(24px);
  font-weight: 400;

}
.socials {
  display: flex;
}
.footer__phone-icon{
  fill: $darkgreen;
}
.footer__contacts__phone {
  color: $darkgreen;

  @include phones {
    align-self: center;
  }
}
.contacts__phone__icon {
  margin-right: 5px;
}