#map {position: relative;
width: 100%;
height: 100%;
background-size: cover;

  @include tablets {
  height: 90%;
  width: max-content;
  }
}
.map-img {
width: 100%;
 
  @include phones {
  width: auto;
  heigth:100%;
  }
  
  @include tablets {
  width: auto;
  heigth:100%;
  }
}  
.map {
  justify-content: start;
}