@mixin tablets {
  @media screen and (max-width:768px) {
    @content;
  }
}

@mixin phones {
  @media screen and (max-width:480px) {
    @content;
  }
}


.video {
  position: relative;
  background-color: #f8faf9;
}








  @include phones {
    justify-content: space-between;
  }




.player__start {
  width: 55px;
  height: 100%;
  border: none;
  background: url(https://4.downloader.disk.yandex.ru/preview/00ab3d654ad67a92cdcbb47d926f595dec49e39bcb6947ef4060d174116bf65f/inf/odc3LPK0oM0JXSBMIL1tGDKhyyoFv8zjYXJ914XWi_1oH12EzCp5v25fmKEHwnH_ADtgFUMRqTs3GVmxsislmA%3D%3D?uid=208008506&filename=playstart.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
  margin-right: 10px;
}

.player--paused {
  background: url(https://3.downloader.disk.yandex.ru/preview/94e2edcc992f11d0dc19a03fc160de849fcb5a4dd03f9047f57ee29b6b945220/inf/plwDV5v8CXESIxoBrdKgZqLRT4klZFjb2YRDc_TULm7uM17VujzewcFuw6r6zVKtWYtPPeDeBP65AEHcWim8FA%3D%3D?uid=208008506&filename=pause.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
}

.player__start:hover {
  cursor: pointer;
}

.player__playback {
  width: 68%;
  position: relative;
  margin-right: 15px;

  @include phones {
    width: 35%;
  }

  &::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    display: block;
    background: url(https://2.downloader.disk.yandex.ru/preview/8e8c5ede4a68456bd7a99ae9b59178050e0a004a4d6f76920e46ed876029d85e/inf/QnDpUUqjBF1j1yM6WHc6rx6DcDR5mbi9_EZPJrtm7fdtXRE3zoD-qXI1gcLFyGWovjtDzAHgymyYH6nBksLi6A%3D%3D?uid=208008506&filename=video-stick.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  }
}

.player__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 0;
}

.player__volume {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;

  @include phones {
    width: 33%;
  }
}

.volume__pic {
  width: 40px;
  height: 20px;
  border: none;
  background: url(https://3.downloader.disk.yandex.ru/preview/dd1c13e1cfa4998ec4fd83e4f735143ae26cc56e61d48abd636fcd7fc514642e/inf/Sa0DnSH3Gm5XTdLi7wpgi6LRT4klZFjb2YRDc_TULm5JYMf1ExakB5UdL9tdpYPp-6r2r8JkxJ03tP7rNgJyqg%3D%3D?uid=208008506&filename=volume.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
  margin-right: 10px;
}

.volume__pic--nosound {
  background: url(https://3.downloader.disk.yandex.ru/preview/1ff454e4c736305985da183fd24879025f9278733ea0823742a1310ba5c33187/inf/J2wFxh0439UVOFRqa4BruzKhyyoFv8zjYXJ914XWi_3DZRLUUWAlfEmMBASHYA_Tji0GJJnPoGiV8N4Z3HA2PQ%3D%3D?uid=208008506&filename=nosoud.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  background-position: center;
}

.volume__playback {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 90%;
    height: 4px;
    position: absolute;
    display: block;
    background: url(https://4.downloader.disk.yandex.ru/preview/c09e44711603cd3cd1eb90cb25ff290e597641566ae7e07029401d6fdc5ceeff/inf/5a363NrPVq6DSHlgEijAUKLRT4klZFjb2YRDc_TULm52KC73enbkg20lUUmO4YPfw8hV3TeKFvdS2CVlLy96qw%3D%3D?uid=208008506&filename=volume-stick.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&owner_uid=208008506&tknv=v2&size=1903x937) no-repeat;
  }
}

.volume__playback-button {
  background: #626262;
  border: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;

}


iframe#yt-player {

  @include tablets {
    width: 100%;
  }


}
